RewriteEngine On
RewriteRule ^register$ views/auth/register.php [L]
RewriteRule ^login$ views/auth/login.php [L]
RewriteRule ^confirm_email$ confirm_email.php [L]
RewriteRule ^password_reset$ views/auth/password_reset.php [L]
RewriteRule ^reset_password$ views/auth/reset_password.php [L]


