.nav-link {
    font-size: 17px !important;
    font-weight: 500 !important;
}

.bg-primary{
    background-color: #07BE64 !important;
}

.btn-primary{
    background-color: #07BE64 !important;
}

.text-primary{
    color: #07BE64 !important;
}

.text-body-primary{
    color: #07BE64 !important;
}

.card-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #07BE64 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.sticky-top-md {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 150px !important; /* Adjust as needed, e.g., top: 20px; */
    z-index: 1000; /* Ensure it stays on top */
  }
  